body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: black;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}